.filme {
  display: flex;
  align-items: stretch;
  margin: .2em 1em 1em 1.5em;
  border-radius: .5em;
  box-shadow: 3px 3px 5px 3px rgb(230, 230, 230);
  overflow: hidden;
  max-height: 12em;
}

.imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem img {
  max-height: 12em;
  width: auto;
  object-fit: contain;
}

.dadosFilme {
  flex: 1;
  padding: 0 .5em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filme h3 {
  margin: .75em 0 1em;
}

.dadosFilme p {
  font-size: x-small;
}

.categorias {
  color: rgb(111, 47, 171);
}

.semFilmes {
  font-style: italic;
  color: rgb(91, 91, 91);
}

@media screen and (max-width: 30em) {
  /* Para telas pequenas: */

  .imagem {
    display: flex;
    align-items: start;
    justify-content: left;
    max-width: 40%;
  }

  .imagem img {
    max-height: 7em;
    width: 100%;
    margin: .3em;
  }

  .filme {
    margin: 1em 1em 1em 1.5em;
    max-height: fit-content;
  }

  .filme h3 {
    margin: .5em 0 .25em;
  }

}
